DATABASE_URL=postgresql://username:password@localhost:5432/database_name

PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d

GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password_here
GMAIL_FROM="YourApp <your_email@gmail.com>"
