DATABASE_URL=
PORT=5000
NODE_ENV=development
FRONTEND_URL=https://fitmitra-fyp.netlify.app/

JWT_SECRET=
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

BREVO_API_KEY=xkeysib-xxxxxxxxxxxx
MAIL_FROM_EMAIL=no-reply@yourdomain.com
MAIL_FROM_NAME=FitMitra

CLOUD_NAME=
API_KEY=
API_SECRET=

VITE_CF_ACCOUNT_ID=
VITE_CF_API_TOKEN=

GROQ_API_KEY=
GROQ_MODEL=